*, *::after, *::before
{
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
html
{
	box-sizing: border-box;
	line-height: 1.375;
	overflow: auto;
	scroll-behavior: smooth;
}
body
{
	background-color: whitesmoke;
	color: rgb(37, 37, 37);
	font-family: 'Montserrat', sans-serif;
	font-size: 62.5%;
	font-weight: 400;
}
h1, h2
{
	margin: 0;
	text-align: center;
}
h1
{
	padding-top: 5px;
}
h2
{
	font-size: 1rem;
	font-weight: 600;
	padding: 20px;
	text-transform: uppercase;
}
.container
{
	align-items: stretch;
	display: flex;
	margin: 10px 10px 0;
	padding: 0;
}
.about, .work, .skills, .hobbies, .education
{
	height: 100vh;
	padding: 15px;
	width: 20%;
}
.about
{
	background-color: #FF9738;
	order: 1;
}
.about:hover, .work:hover, .skills:hover, .hobbies:hover, .education:hover
{
	background-color: #40858F;
	background-image: none;
	transition: all 2s;
	width: 80%;
}
.content
{
	height: 80vh;
	opacity: 0;
}
.content:hover
{
	opacity: 1;
	transition: all 2s;
}
.external
{
	margin: 2rem auto;
}
.external__files
{
	line-height: 2rem;
	text-align: center;
}
.sub-title
{
	letter-spacing: 2px;
}
.img
{
	margin: 15px;
}
img
{
	display: block;
	height: auto;
	image-rendering: auto;
	margin: auto;
	width: 140px;
}
dl, ol, ul
{
	list-style-type: none;
	text-align: center;
}
dd, dt, li
{
	line-height: 1rem;
	margin: 0 15px;
}
dt
{
	padding-left: 10px;
}
hr
{
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	border: 0;
	height: 1px;
	margin: 5px 0;
}
a
{
	color: #FFC038;
}
a:active
{
	color: #FF7E08;
}
.contact-img
{
	height: auto;
	width: 30px;
}
.work
{
	background-color: #AC937D;
	background-image: url(briefcase.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100px;
	order: 2;
}
blockquote
{
	font-size: 15px;
	font-style: italic;
	font-weight: 600;
	margin: 15px auto;
	text-align: center;
}
.list-item:first-of-type
{
	margin-top: 15px;
}
.list-item
{
	margin-bottom: 20px;
}
.skills
{
	background-color: #FF9738;
	background-image: url(brainstorming.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100px;
	order: 3;
}
.hobbies
{
	background-color: #AC937D;
	background-image: url(mensch.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100px;
	order: 4;
}
.icon-1, .icon-2, .icon-3, .icon-4
{
	height: 12vh;
	image-rendering: auto;
	margin-bottom: 10px;
	width: auto;
}
.hobby:nth-last-of-type()
{
	margin-bottom: 40px;
}
.education
{
	background-color: #FF9738;
	background-image: url(spiral-book.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100px;
	order: 5;
}
@media screen and (min-width:1000px) and (max-width:1120px)
{
	.icon-1, .icon-2, .icon-3, .icon-4
{
		height: 6vh;
		width: auto;
	}
}
@media screen and (min-width:300px) and (max-width:1000px)
{
	.container
{
		column-gap: 2rem;
		flex-direction: column;
	}
	.about, .work, .skills, .hobbies, .education
{
		background-image: none;
		height: max-content;
		max-width: 100%;
		padding-bottom: 2rem;
		padding-left: 2rem;
		padding-right: 2rem;
		width: 100%;
	}
	.about:hover, .work:hover, .skills:hover, .hobbies:hover, .education:hover
{
		background-image: none;
		height: max-content;
		max-width: 100%;
		padding-bottom: 2rem;
		transition: all 2s;
		width: 100%;
	}
	.education, .education:hover
{
		padding-bottom: 5rem;
		transition: all 2s;
	}
	.content
{
		height: auto;
	}
	.content:hover
{
		opacity: 1;
		transition: all 2s;
	}
	.contact-img
{
		width: 1.25rem;
	}
	.icon-1, .icon-2, .icon-3, .icon-4
{
		height: 7vh;
	}
}
@media screen and (min-width:300px) and (max-width:768px)
{
	body
{
		font-size: 52%;
	}
	h1, h2
{
		font-size: 96%;
	}
	img
{
		max-width: 120px;
		width: 100px;
	}
	blockquote
{
		font-size: 11px;
	}
}