/******** Basis Styles ********/
 *, *::after, *::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
html {
	box-sizing: border-box;
	line-height: 1.375;
	overflow-x: hidden;
	overflow-y: auto;
	scroll-behavior: smooth;
}
body {
	background: #169898;
	color: #fff;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding-left: 240px;
}
h1, h2 {
  font-size: 3.25em;
  font-weight: 700;
}
h3 {
	font-size: 3em;
	font-weight: 600;
}
h4 {
	font-size: 2em;
}
p {
  font-size: 1.15em;
  font-weight: 400;
}
a {
	color: #fff;
	text-decoration: none;
}
hr {
	color:#fe8725;
}

/******** Layout ********/
main {
	height: 100vh;
	position: relative;
}
main .description, .description__data, .description__work, .description__skills, .description__hobbies {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	margin: 0 auto;
	padding: 15px 20px;
	position: relative;
}
main .description {
	top: 12%;
}
main .description__data {
	top: 20%;
}
main .description h3 {
	color: #169898;
	letter-spacing: 4px;
	padding: 1.2em 2em;
	text-align: center;
	text-transform: uppercase;
}
dl dd, ul li {
	background-position: left 15px center;
	background-repeat: no-repeat;
	background-size: auto 20px;
	cursor: pointer;
	font-size: 0.95em;
	font-weight: normal;
	padding: 0.5em 1em 0.5em 3em;
	transition: all 0.15s linear;
}
.description ul, .description__data ul, .description__work ul, .description__skills ul, .description__hobbies ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 20px 40px;
}
.description ul, .description__data ul {
	line-height: 2rem;
}
.description__work, .description__skills, .description__hobbies {
	line-height: 3rem;
	margin: 2rem;
}
.list__item {
	letter-spacing: 3px;
}
.mobile, .e-mail, .social {
	text-decoration: underline;
}
footer {
	margin-bottom: 1rem;
	text-align: center;
}
.description p:first-of-type {
	padding-bottom: 1rem;
}
.description p:last-of-type {
	padding-top: 1rem;
}
.zertifikate {
	color: #fe8725;
}
.zertifikate:hover {
	color: #169898;
}


  /******* Navigation */
.menu {
	background: #FE8725;
	height: 100vh;
	left: 0;
	outline: none;
	position: fixed;
	top: 0;
	width: 240px;
	z-index: 5;
}
.menu .avatar {
	background: rgba(0, 0, 0, 0.1);
	padding: 2em 0.5em;
	text-align: center;
}
.menu .avatar img {
	border-radius: 20%;
	box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
	overflow: hidden;
	width: 100px;
}
.menu .avatar h2 {
	margin-bottom: 0;
}
.menu ul {
	list-style: none;
	margin: 0;
	padding: 0.5em 0;
}
.menu ul li {
	background-position: left 15px center;
	background-repeat: no-repeat;
	background-size: auto 20px;
	cursor: pointer;
	font-size: 0.95em;
	font-weight: normal;
	padding: 0.5em 1em 0.5em 3em;
	transition: all 0.15s linear;
}
.menu ul li.icon-code {
	background-image: url(icomoon/SVG/code.svg);
}
.menu ul li.icon-work {
	background-image: url(icomoon/SVG/directions.svg);
}
.menu ul li.icon-skills {
	background-image: url(icomoon/SVG/skills.svg);
}
.menu ul li.icon-hobbies {
	background-image: url(icomoon/SVG/interests.svg);
}
.menu ul li.icon-education {
	background-image: url(icomoon/SVG/education.svg);
}
.menu ul li:hover {
	background-color: rgba(0, 0, 0, 0.1);
	font-size: 1.2rem;
	font-weight: 600;
}
.menu ul li:focus {
	outline: none;
}
.menu ul li:active, a:active {
	color: rgb(32, 32, 32);
}


 

/******** Progress Bar ********/
.container-1, .container-2, .container-3, .container-4, .container-5, .container-6, .container-7, .container-8, .container-9, .container-10 {
	margin: 1rem auto;
}
progress[value] {
	border: 1px solid #169898;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
	height: 1rem;
	max-width: 350px;
	width: 95%;
}


/******** Hobby Icons ********/
.icon {
	max-height: 100px;
	max-width: 100px;
	width: 90%;
}
@media screen and (max-width: 900px) and (min-width: 400px) {
	body {
		padding-left: 90px;
	}
	.menu {
		width: 90px;
	}
	.menu .avatar {
		padding: 0.5em;
		position: relative;
	}
	.menu .avatar img {
		width: 60px;
	}
	.menu .avatar h2 {
		background: rgba(0, 0, 0, 0.4);
		border-radius: 4px;
		left: 100px;
		margin: 0;
		min-width: 200px;
		opacity: 0;
		position: absolute;
		top: 50%;
		transform: translate3d(-20px, -50%, 0);
	}
	.menu .avatar:hover h2 {
		opacity: 1;
	}
	.menu ul li {
		background-position: center center;
		background-size: 30px auto;
		height: 60px;
		position: relative;
	}
	.menu ul li span {
		background: rgba(0, 0, 0, 0.5);
		border-radius: 4px;
		left: 80px;
		opacity: 0;
		padding: 0.2em 0.5em;
		position: absolute;
		top: 50%;
		transform: translate3d(-15px, -50%, 0);
		transition: all 0.15s ease-in-out;
	}
	.menu ul li span:before {
		border-bottom: 5px solid transparent;
		border-right: 5px solid rgba(0, 0, 0, 0.5);
		border-top: 5px solid transparent;
		content: '';
		height: 0;
		left: -5px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 0;
	}
	.menu ul li:hover span {
		opacity: 1;
		transform: translate3d(0px, -50%, 0);
	}
	.description__work, .description__skills, .description__hobbies {
		margin: 1.25rem;
	}
	.description__work ul {
		padding: .5rem;
	}
	.description__skills ul, .description__hobbies ul {
		padding: 0;
	}
	.description__work ul li, .description__skills ul li {
		letter-spacing: 1px;
		padding: 0;
	}
	.description__hobbies ul li {
		padding: .5rem;
	}
	progress[value] {
		width: 90%;
	}
}
@media screen and (max-width: 400px) {
	body {
		padding-left: 0;
	}
	.menu {
		box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
		transform: translate3d(-230px, 0, 0);
		transition: all 0.3s ease-in-out;
		width: 230px;
	}
	.menu .smartphone-menu-trigger {
		background: #5bc995;
		height: 40px;
		left: 100%;
		position: absolute;
		width: 40px;
	}
	.menu .smartphone-menu-trigger:before, .menu .smartphone-menu-trigger:after {
		background: #fff;
		border-radius: 10px;
		content: '';
		height: 2px;
		left: 50%;
		position: absolute;
		top: 45%;
		transform: translate3d(-50%, -50%, 0);
		width: 50%;
	}
	.menu .smartphone-menu-trigger:after {
		top: 55%;
		transform: translate3d(-50%, -50%, 0);
	}
	.menu ul li {
		font-size: 1.2em;
		padding: 1em 1em 1em 3em;
	}
	.menu:focus {
		box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
		transform: translate3d(0, 0, 0);
	}
	.menu:focus .smartphone-menu-trigger {
		pointer-events: none;
	}
	.menu .avatar:hover h2 {
		opacity: 1;
	}
	.description__work, .description__skills, .description__hobbies {
		margin: 1rem;
	}
	.description__work ul, .description__skills ul {
		padding: 5px;
	}
	.description__work ul li {
		letter-spacing: 1px;
		padding: 0;
	}
	.description__skills ul li {
		padding: 0;
	}
	.description__hobbies ul li {
		padding: 5px;
	}
	progress[value] {
		width: 80%;
	}
}
